<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Author </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="driver : ${drivers}">
        <td><span th:text="${driver.first_name}"> Title </span></td>
        <td><span th:text="${driver.last_name}"> Author </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>